
html {font-family: 'Inter', sans-serif;background-color:#FFF}
body {font-family: 'Inter', sans-serif;overflow-x: hidden; background-color:#FFF; font-weight:400;font-style: normal; color:#373737; font-size:14px}
a,a:hover,a:focus,i,input,button,input:focus,.transition {text-decoration: none;outline: none;transition-delay: 0s;transition-duration: 0.4s;transition-property: all;transition-timing-function: ease;box-shadow: none;}
a{color: #000}
.header{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
    background-color: #FFF;
    padding: 70px 0;
    transition-delay: 0s;
    transition-duration: 0.4s;
    transition-property: all;
    transition-timing-function: ease;
}
.ds-header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ds-logo {
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 3px;
    color: #000;
    display: flex;
    align-items: center;
}
.ds-logo:hover {
    color: #000;
    cursor: pointer;
}
.ds-logo span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #000;
    border-radius: 4px;
    color: #FFF;
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    margin-right: 12px;
}
.ds-social {
    list-style: none;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.ds-social li {
    margin-left: 12px;
}
.ds-social li:first-child {
    margin-left: 0px;
}
.ds-social li a {
    border-radius: 100%;
    color: #FFF !important;
    width: 24px;
    height: 24px;
    background-color: #F26464;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 16px;
}
.ds-social li a:hover {
    background-color: #000;
    color: #FFF;
    cursor: pointer;
}